include includes/mixins.pug

doctype html
html
	head
		title Home
		include includes/head.pug
	body
		main
			include includes/header.pug
			section
				div(class="panel")
					form(method="post", action="/create_user")
						input(type="text", id="id", name="id" placeholder="ID")
						input(type="text", id="name", name="name" placeholder="Name")
						input(type="email", id="email", name="email" placeholder="Email")
						input(type="number", id="age", name="age" placeholder="Age")
						input(type="submit", value="Create User")