html
	head
		title Home
		include includes/head.pug
	body
		main
			include includes/header.pug
			section
				h1(class="myClass", id="myId")= message
				h2.myClass.mySecondClass#myId This is a header2 #{partialVariable}